fouter.footer   
    .footer__log
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download app
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
        li: a(href='#') About us
    p.footer__copyright &copy; by Roubert Pimenta Feel free to use this project for your own purposes, EXCEPT producing your own course or tutorials!

