extends base

block content
  main.main
    .cadastrar-form
      h2.heading-secondary.ma-bt-lg Criar conta
      form.form.form-cadastrar
        .form__group
          label.form__label(for='name') Nome Completo
          input#name.form__input(type='text', placeholder='Digite seu nome completo', required)
          label.form__label(for='email') Endereço de Email
          input#email.form__input(type='email', placeholder='seu@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Senha
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          label.form__label(for='ConfirmPassword') Confirme Senha
          input#confirmPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Cadastrar
